[project]
	description = device_twrp
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
	abandon = group recovery
	deleteOwnChanges = group recovery
	label-Code-Review = -2..+2 group recovery
	label-Verified = -1..+1 group recovery
	push = +force group recovery
	rebase = group recovery
	submit = group recovery
	viewPrivateChanges = group recovery
